/*html, body {*/
/*    height: 100%;*/
/*}*/

/*nav {*/
/*    height: 2.5em;*/
/*}*/

.bg-lightgrey-hover:hover {
    background-color: lightgray;
    -webkit-transition: background-color 0.1s;
    -moz-transition: background-color 0.1s;
    -ms-transition: background-color 0.1s;
    -o-transition: background-color 0.1s;
    transition: background-color 0.1s;
}
